<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/Public/css/LayoutAdmin.css" rel="stylesheet" /> 
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />        
        <link href="~/Public/css/all.min.css" rel="stylesheet" />
        <script src="~/scripts/bootstrap.bundle.min.js"></script>
        @RenderSection("header", required: false)
    </head>
<body>
    <!-- Nav start-->
    <section class="clearfix header bg-danger">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="~/Public/images/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                        Bootstrap
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Sản phẩm
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="@Url.Action("Index","Product")">Danh sách sản phẩm</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Create","Product")">Thêm sản phẩm</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Index","Category")">Danh sách loại sản phẩm</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Create","Category")">Thêm loại sản phẩm</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Bài viết
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="@Url.Action("Index","Post")">Danh sách bài viết</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Create","Post")">Thêm bài viết</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Index","Topic")">Danh sách chủ đề</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Create","Topic")">Thêm chủ đề</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled">Disabled</a>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <!-- Nav end -->
        <!-- Maincontent start-->
        <section class="clearfix maincontent">
            <div class="container-fluid py-3">
                @RenderBody()
            </div>
        </section>
        <!-- Maincontent end -->
        <section class="clearfix footer bg-danger">
            <div class="container-fluid text-white text-center py-3">
                Thiết kế bởi 
            </div>
        </section>
        <script src="~/Public/plugins/jquery/jquery.min.js"></script>
        <script src="~/Public/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/Public/dist/js/adminlte.min.js"></script>
        <script src="~/Public/dist/js/demo.js"></script>
</body>
</html>
