<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/css/all.min.css" rel="stylesheet" />
    <link href="~/Public/css/_LayoutSite.css" rel="stylesheet" />
    @RenderSection("header",required : false)
</head>
<body>    
    <section class="header clearfix">
        <div class="container py-2">
            <div class="row">
                <div class="col-lg-3 col-xl-3 col-md-3 col-6 logo">
                    <a href="@Url.Action("Index","Home")">
                        <img width="170" height="58" src="~/Public/images/logo.png" alt="Logo" class="img-fluid" />
                    </a>
                </div>
                <div class="d-md-none d-block col-2 order-3"></div>
                <div class="col-lg-6 col-xl-6 col-md-6">
                    <div class="theme-search-smart">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-3 col-md-3 col-6 col-account order-2 order-md-3">
                    <ul class="group-account">
                        <li class="col-account d-none d-lg-inline-block">
                            <div class="icon">
                                <i class="far fa-user"></i>
                                <a href="#Login" title="Đăng nhập">Đăng nhập</a>
                            </div>                         
                        </li>
                        <li>
                            <div class="icon">
                                <i class="far fa-heart"></i>
                                <a href="#Favor" title="Sản phẩm yêu thích">Yêu thích</a>
                            </div>
                        </li>
                        <li class="cart-drop">
                            <div class="icon">
                                <i class="fas fa-shopping-cart"></i>
                                <a href="#Cart" title="Giỏ hàng">Giỏ hàng</a>
                            </div>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="mainmenu clearfix bg-main">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-main">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled">Disabled</a>
                            </li>
                        </ul>                        
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <section class="maincontent clearfix">
        <div class="container">
            @RenderBody()
        </div>
    </section>

    <section class="footer clearfix bg-footer py-2">
        <div class="container">
            <div class="row text-light">
                <div class="col-md-3">
                    <h3 class="text-uppercase">chúng tôi là ai ?</h3>
                    <p>Copyright@2021 Công ty TNHH thời trang Ego Wear</p>
                    <p>Ego Wear đang trong giai đoạn phát triển mạnh với nhiều mặt hàng phong phú giá cả cạnh tranh, mong muốn đem đến chất lượng tốt nhất cho khách hàng.</p>
                    <p>Địa chỉ: 221 Chùa Bộc, Đống Đa, Hà Nội, Hà Nội</p>
                    <p>Điện thoại: 1900 6750 - Email: support@sapo.vn</p>                    
                </div>
                <div class="col-md-3">
                    <h4 class="text-uppercase">chính sách</h4>
                </div>
                <div class="col-md-3">
                    <h4 class="text-uppercase">khu bán hàng</h4>
                </div>
                <div class="col-md-3">
                    <h4 class="text-uppercase">hỗ trợ chung</h4>
                </div>
            </div>
        </div>
    </section>
    <section class="copyright clearfix bg-footer py-2">
        <div class="container text-light">
            <div class="row border-top border-light py-2">
                <div class="col-md-6 text-light">
                    Bản quyền thuộc về Ego Creative Cung cấp bởi Sapo
                </div>
            </div>            
        </div>  
</section>
    <script src="~/scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("footer", required: false)
</body>
</html>
